<h1>
  BUEN DIA <%= @user.name.upcase %>
</h1>

<h3>
  HEMOS REVISADO SU PROGRESO EN EL EQUIPO <%= @team.name.upcase %> ESPECIFICAMENTE EN EL LA TAREA <%= @job.name %>, Y NOTAMOS QUE SI PROGRESO ES INSUFICIENTE, POR LO TANTO LE SOLICITMOS QUE REVISE DEINMEDIAT ESTAS TAREAS Y DE SOLUCIÓN A ELLAS.
</h3>

<br />

<h4>ESTAREMOS PENNDIENTES PARA AYUDATE EN LO QUE NECESITES</h4>
<br />