<h1>
  REGITRO EN PLATFORMA
</h1>

<h3>
GRACIAS POR REGISTRARTE EN <b>THE BEST DESING</b> UN COMPLETO EQUIPO ESTA A TU DISPOSICIPN
</h3>

<br />

<h4>ESTAREMOS PENNDIENTES PARA AYUDATE EN LO QUE NECESITES</h4>
<br />