<div class="row">
  <center>
	<div class="card">
	  <div class="card-header">
	    <b><p>THE BEST DESING</p></b>
	  </div>
	  <div class="card-body">
	    <b><p class="card-text">MANEJADOR DE PROYECTOS</p></b>
	    <div class="row">
	     <div class="col-sm-6">
	     	<%= link_to "INICIAR SESIÓN", new_user_session_path, class: "btn btn-primary float-right" %><br />
	     </div>
	     <div class="col-sm-6">
	     	<%= link_to "REGISTRARSE", new_user_registration_path, class: "btn btn-primary float-left" %><br />
	     </div>
	    </div>
	  </div>
	</div>
</div>
